body{
    background-color: #3234F8;
   background-image: url("../img/background.png");
   background-repeat: no-repeat;

}


.nav-item{
    padding: 0 0  0 5vw;
}

.categories{
    margin: 5vh 0 0 0;
    border-radius: 20px;
}

.categories2{
    margin: 5vh 0 5vh 0;
    background-color:#3234F8; 
    border-radius: 20px;
   
}

.btn-cat{
    background:none;
    border:none; 
    color: #ffffff;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 20px;
}

.btn-cat:hover{
    background-color:#ffffff;
    color:#3234F8;
}

.list-inline-item{
    padding: 2vh 0 0 0;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 10px -4px black;
	   -moz-box-shadow: 0 8px 10px -4px black;
	        box-shadow: 0 8px 10px -4px black;
}

.eit{
    max-width: 30%;
    margin: 5vh 0 0 0;
    background: none;
    border: none;
}

.filter-container{
    max-width: 30vw;;
}

.list-group-item{
    border:none;
    margin: 7vh 0 7vh 0;
    background: none;
    color:#ffffff;

}

.badge{
    background-color: #E1A2BC;
    
}

.white{
    color: #ffffff;
}

.abstract{
    padding: 2%;
    background-color: #E1A2BC;
}

.custom-border1{
    border-radius:20px !important;
}

.cat-buttons li button{
    
}

.cat-item{
    float: left;
    list-style-type: none !important;
}




@media only screen and (max-width: 600px) {

    .container{
        padding: 0 5vw 0 5vw;
    }
    
    .nav-item{
        padding: 1vh 0 0 0;
    }

    .filter-container{
        max-width: 50vw;;
    }
  }


